*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card-image {
    height: 280px;
    width: 100%;
    overflow: hidden;
}
.card-image img {
    height: 100%;
    width: 100%;
}
.card {
    height: 100%;
}
.card-body h4 {
    font-size: 19px;
    margin-bottom: 30px;
}
.card-body p {
    margin-bottom: 0px;
}
.card-body p span {
    font-weight: 600;
}